<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.lianys.blogserver.dao.RoleDao">
  <resultMap id="roleResultMap" type="role">
    <id property="id" column="id" />
    <result property="roleName" column="role_name" />
    <result property="roleCode" column="role_code" />
    <result property="roleDesc" column="role_desc" />
    <result property="createTime" column="create_time" />
    <result property="updateTime" column="update_time" />
  </resultMap>
  <select id="list" resultMap="roleResultMap">
    select `id`, `role_code`, `role_name`, `role_desc`, `create_time`, `update_time` from role
    <where>
      <if test="keyword != null and keyword != ''">
        ( 
          `role_code` like concat(#{keyword} "%") 
          or `role_name` like concat(#{keyword} "%") 
          or `role_desc` like concat(#{keyword} "%") 
        )
      </if>
    </where>
  </select>
</mapper>